// Color Palette
$primary: #00c4ff;
$accent: #ff3bdb;
$accent2: #e000be;
$yellow: #ffee58;
$green: #14e5ad;
$footer-bg: #191a20;
$bg: #d0dbe1;
$bg-dark: #161622;
$text: #444447;
$text-dark: #f0f0f0;
$card: #f2f6f9;
$card2: #e0e4e5;
$card-glass: rgba(255,255,255,0.7);
$shadow: rgba(0,0,0,0.10);
$shadow-strong: rgba(0,0,0,0.23);

// Typography
$font-main: 'Segoe UI', Arial, sans-serif;
