@import "variables";

// RESET
*,
*::before,
*::after { box-sizing: border-box; }
html, body { height: 100%; margin: 0; font-family: $font-main; }

// THEME
body {
  background: $bg;
  color: $text;
  min-height: 100vh;
  transition: background .3s, color .3s;
  &.dark {
    background: $bg-dark;
    color: $text-dark;
  }
}
footer {
  margin-top: 3rem;
  background: $footer-bg;
  color: $yellow;
  padding: 1.25rem 0 1rem;
  text-align: center;
  font-size: 1rem;
  border-radius: 1.5rem 1.5rem 0 0;
}
a { color: $accent; text-decoration: underline; }
